body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grid {
  grid-template-areas:
    'cpu-name   cpu-pick      cpu-history'
    'score      notification  .'
    'user-name  user-pick     user-history';
}